{% extends './base.html' %}

{% block title %}Home{% endblock %}

{% block customCSS %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/general.css')}}">

{% endblock %}




{% block body %}
<div class="saludo-container">
<h1>VitalBreak</h1>
</div>
<div class="mensaje-container">
<h4>{{current_user.nombre}}, A continuación visualizaras las opciones de seguimiento de tus trabajdores, <br>
y la realización de sus pausas activas</h4>
</div>
<div class="btn-container">
<a class="btn btn-secondary" href="{{ url_for('ejercicio',tipo=2,rutina=2) }}">Grafica</a>
<a class="btn btn-secondary" href="{{ url_for('home')}}">Volver</a>
</div>

{% endblock %}